SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=troque-essa-chave-por-uma-chave-grande
PORT=3001
NODE_ENV=development
META_GRAPH_API_VERSION=v23.0
WHATSAPP_VERIFY_TOKEN_GLOBAL=ryan-bot-webhook-2026
